In [1]:
import sys, os
import pandas as pd

sys.path.append('..')
dotenv_path = os.path.join('../.env')

In [3]:
from src.db_connection import get_db_connection

# Establish the database connection
conn = get_db_connection()

# Get a cursor object
cursor = conn.cursor()

# Close the connection
# conn.close()

In [4]:

# Execute the SQL query to select data from the user table
cursor.execute("SELECT * FROM carts")

# Fetch all the rows from the result set
rows = cursor.fetchall()

# Create a pandas DataFrame from the result set
cart_df = pd.DataFrame(rows, columns=[col[0] for col in cursor.description])

In [5]:
cart_df

,id,user_id,status,created_at,updated_at,deleted_at
0,29fb9269-095e-4b8b-87b1-f55cd531c8a3,57758649-508f-4e6a-873e-7f0af1157eaa,IN_PROGRESS,2023-10-12 13:34:32.210807,2023-10-12 13:34:32.210807,None
1,3f917b0d-d4c8-43dd-8eac-2cc6364c5f3c,47f66dcc-9b56-480a-9af0-611548228b0c,IN_PROGRESS,2023-10-12 18:22:14.512610,2023-10-12 18:22:14.512610,None
2,477defd0-25c0-480f-9331-fd420e5b0eb8,3a431b3f-d4d1-4707-a581-92f9d11bd70d,IN_PROGRESS,2023-10-12 18:41:19.958432,2023-10-12 18:41:19.958432,None
3,6d179854-4606-4d8d-af95-0a287df5ebd7,fa5ddbce-1556-4efe-981b-ef78fcd4036d,IN_PROGRESS,2023-10-13 05:17:53.639124,2023-10-13 05:17:53.639124,None
4,d1140d4a-462d-4407-ab8a-f20f23dc86fb,b5148702-790a-45f0-96ea-f520bd847b49,IN_PROGRESS,2023-10-14 22:06:17.981814,2023-10-14 22:06:17.981814,None
...,...,...,...,...,...,...
1522,0aaf21a6-6cc3-453f-9003-0f2784f521f9,9ff2c8fb-1e62-4a9d-b7a8-8dad8090a900,IN_PROGRESS,2024-02-21 07:43:26.155018,2024-02-21 07:43:26.155018,None
1523,da796820-4a47-4a91-affd-3530aa8a61d9,74b7a79d-c9fd-4c7b-81c7-800dea0f9940,IN_PROGRESS,2024-02-21 10:09:39.746811,2024-02-21 10:09:39.746811,None
1524,174b42a8-5830-49ba-ae40-03c4d9ef2246,cd39b5c3-72ca-45b4-94ce-d2a11fa91d32,IN_PROGRESS,2024-02-21 15:02:33.942472,2024-02-21 15:02:33.942472,None
1525,4f34c78f-4414-4c23-97e4-a6b8958e5e20,be2d5ff8-eed3-4361-8c65-3c5351de56a8,IN_PROGRESS,2024-02-21 15:03:39.439562,2024-02-21 15:03:39.439562,None
1526,e49653d2-a36c-42ab-89c5-9ccd7e6cd22f,d017b402-cc05-4d42-9416-f3bdad4404d6,IN_PROGRESS,2024-02-22 05:47:52.796653,2024-02-22 05:47:52.796653,None

In [6]:
missing_values_count = cart_df.isnull().sum()
print(missing_values_count)

id               0
user_id          0
status           0
created_at       0
updated_at       0
deleted_at    1527
dtype: int64

In [7]:
cart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1527 entries, 0 to 1526
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          1527 non-null   object
 1   user_id     1527 non-null   object
 2   status      1527 non-null   object
 3   created_at  1527 non-null   datetime64[ns]
 4   updated_at  1527 non-null   datetime64[ns]
 5   deleted_at  0 non-null      object
dtypes: datetime64[ns](2), object(4)
memory usage: 71.7+ KB

In [8]:
total_rows = cart_df.shape[0]
missing_values_percentage = (cart_df.isnull().sum() / total_rows) * 100
print(missing_values_percentage)

id              0.0
user_id         0.0
status          0.0
created_at      0.0
updated_at      0.0
deleted_at    100.0
dtype: float64

In [9]:
selected_columns_df = cart_df[['id', 'user_id', 'status']]
selected_columns_df

,id,user_id,status
0,29fb9269-095e-4b8b-87b1-f55cd531c8a3,57758649-508f-4e6a-873e-7f0af1157eaa,IN_PROGRESS
1,3f917b0d-d4c8-43dd-8eac-2cc6364c5f3c,47f66dcc-9b56-480a-9af0-611548228b0c,IN_PROGRESS
2,477defd0-25c0-480f-9331-fd420e5b0eb8,3a431b3f-d4d1-4707-a581-92f9d11bd70d,IN_PROGRESS
3,6d179854-4606-4d8d-af95-0a287df5ebd7,fa5ddbce-1556-4efe-981b-ef78fcd4036d,IN_PROGRESS
4,d1140d4a-462d-4407-ab8a-f20f23dc86fb,b5148702-790a-45f0-96ea-f520bd847b49,IN_PROGRESS
...,...,...,...
1522,0aaf21a6-6cc3-453f-9003-0f2784f521f9,9ff2c8fb-1e62-4a9d-b7a8-8dad8090a900,IN_PROGRESS
1523,da796820-4a47-4a91-affd-3530aa8a61d9,74b7a79d-c9fd-4c7b-81c7-800dea0f9940,IN_PROGRESS
1524,174b42a8-5830-49ba-ae40-03c4d9ef2246,cd39b5c3-72ca-45b4-94ce-d2a11fa91d32,IN_PROGRESS
1525,4f34c78f-4414-4c23-97e4-a6b8958e5e20,be2d5ff8-eed3-4361-8c65-3c5351de56a8,IN_PROGRESS
1526,e49653d2-a36c-42ab-89c5-9ccd7e6cd22f,d017b402-cc05-4d42-9416-f3bdad4404d6,IN_PROGRESS

In [10]:
print(selected_columns_df['status'].value_counts(dropna=False))

status
IN_PROGRESS    1456
COMPLETED        71
Name: count, dtype: int64

In [11]:

total_rows = selected_columns_df.shape[0]
missing_values_percentage = (selected_columns_df.isnull().sum() / total_rows) * 100
print(missing_values_percentage)

id         0.0
user_id    0.0
status     0.0
dtype: float64

In [13]:
# Save the cleaned DataFrame to a CSV file

folder_path = "../data/CleanedData"
if not os.path.exists(folder_path):
    os.makedirs(folder_path)

# Specify the full path including the file name
file_path = os.path.join(folder_path, 'cleaned_carts.csv')

# Save the DataFrame
selected_columns_df.to_csv(file_path, index=False)