In [12]:
import sys, os
import pandas as pd

sys.path.append('..')
dotenv_path = os.path.join('../.env')

In [13]:
from utils.db_connection import get_db_connection

# Establish the database connection
conn = get_db_connection()

# Get a cursor object
cursor = conn.cursor()

# Close the connection
# conn.close()

In [14]:

# Execute the SQL query to select data from the user table
cursor.execute("SELECT * FROM personal_cart_items")

# Fetch all the rows from the result set
rows = cursor.fetchall()

# Create a pandas DataFrame from the result set
personal_cart_items_df = pd.DataFrame(rows, columns=[col[0] for col in cursor.description])

In [15]:
personal_cart_items_df

,id,cart_id,product_id,quantity,status,created_at,updated_at,deleted_at
0,91ae2abb-666c-49e9-ad6e-f35b832136bb,112901dd-e5ed-49d1-87ce-6fc1e5b3eed0,60efc7c9-7fbe-4565-9903-cb992122d1ca,1,IN_PROGRESS,2023-11-07 06:31:19.677395,2023-11-07 06:31:19.677395,NaT
1,07d2acd6-8f30-49e6-ba84-0f9a47bdccd1,371ef05c-78e4-42a6-8653-2950217a5d97,60efc7c9-7fbe-4565-9903-cb992122d1ca,1,COMPLETED,2023-10-24 13:43:46.331263,2023-10-27 14:21:48.499411,NaT
2,74859c61-832a-4fb4-8af8-8cb0c0f59393,f3b8c024-7463-4691-aec5-df01db17f3e7,0f8b7023-75c7-46cc-a1ba-67c3ddb36be4,0,IN_PROGRESS,2023-10-27 12:10:05.267154,2023-10-27 12:10:05.267154,2023-10-28 06:23:44.927803
3,b0141bca-5cb6-4aaa-b112-76a4fe1df536,5abde3ca-9b58-4bda-96fc-73753aa18485,1240fe96-0539-4bff-b27e-ec0b39b010c3,0,IN_PROGRESS,2023-10-23 18:45:23.830606,2023-10-23 18:45:23.830606,2023-10-28 20:59:19.451885
4,eee2a7bc-5951-4569-bd69-cf53209f420e,84f63b4e-7b5e-4837-8728-7bb903a7a4a1,1240fe96-0539-4bff-b27e-ec0b39b010c3,0,COMPLETED,2023-10-26 16:35:34.568852,2023-10-30 15:07:41.778009,2023-10-27 08:01:35.047056
...,...,...,...,...,...,...,...,...
2727,16632496-0937-4237-850b-bfddc2b3203c,45694fc3-002c-458a-ac33-6cb55a09e5f4,96e69db3-f364-4be2-81ac-996e2352d587,0,IN_PROGRESS,2023-12-22 14:39:24.706120,2023-12-22 14:39:24.706120,2024-03-06 06:05:34.810395
2728,fb4a3430-5ef2-474c-9903-8659b116af46,b8776740-087e-4d28-b6cb-45be467707df,9eecea1d-f763-4be5-bacd-d894ac0404d7,1,IN_PROGRESS,2024-03-06 07:48:46.714491,2024-03-06 07:48:46.714491,NaT
2729,1b0e7b37-951e-4482-b6cd-30f0204a945b,f3c971af-1c09-4489-8f5a-679a189b507d,7af7c574-12e0-4d0e-a030-2721d28271a7,0,IN_PROGRESS,2024-03-06 16:07:01.206685,2024-03-06 16:07:01.206685,2024-03-06 16:07:32.345886
2730,0111b3dc-fa8b-423b-9538-822d0d5514fc,eafc12be-6acb-4135-a46c-d681eb6f2d23,eec52d42-9801-4ec0-a313-36eecc102953,1,IN_PROGRESS,2024-03-06 16:49:52.012755,2024-03-06 16:49:52.012755,NaT
2731,b4d98ce7-2a63-43d2-b7e4-fba164759369,eafc12be-6acb-4135-a46c-d681eb6f2d23,ac069d68-2625-4e52-ae5c-18d987d9c694,3,IN_PROGRESS,2024-03-06 16:49:44.531284,2024-03-06 16:49:44.531284,NaT

In [16]:
missing_values_count = personal_cart_items_df.isnull().sum()
print(missing_values_count)

id               0
cart_id          0
product_id       0
quantity         0
status           0
created_at       0
updated_at       0
deleted_at    1972
dtype: int64

In [17]:
personal_cart_items_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2732 entries, 0 to 2731
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          2732 non-null   object
 1   cart_id     2732 non-null   object
 2   product_id  2732 non-null   object
 3   quantity    2732 non-null   int64
 4   status      2732 non-null   object
 5   created_at  2732 non-null   datetime64[ns]
 6   updated_at  2732 non-null   datetime64[ns]
 7   deleted_at  760 non-null    datetime64[ns]
dtypes: datetime64[ns](3), int64(1), object(4)
memory usage: 170.9+ KB

In [18]:
total_rows = personal_cart_items_df.shape[0]
missing_values_percentage = (personal_cart_items_df.isnull().sum() / total_rows) * 100
print(missing_values_percentage)

id             0.000000
cart_id        0.000000
product_id     0.000000
quantity       0.000000
status         0.000000
created_at     0.000000
updated_at     0.000000
deleted_at    72.181552
dtype: float64

In [19]:
selected_columns_df = personal_cart_items_df[['id', 'cart_id', 'product_id']]
selected_columns_df

,id,cart_id,product_id
0,91ae2abb-666c-49e9-ad6e-f35b832136bb,112901dd-e5ed-49d1-87ce-6fc1e5b3eed0,60efc7c9-7fbe-4565-9903-cb992122d1ca
1,07d2acd6-8f30-49e6-ba84-0f9a47bdccd1,371ef05c-78e4-42a6-8653-2950217a5d97,60efc7c9-7fbe-4565-9903-cb992122d1ca
2,74859c61-832a-4fb4-8af8-8cb0c0f59393,f3b8c024-7463-4691-aec5-df01db17f3e7,0f8b7023-75c7-46cc-a1ba-67c3ddb36be4
3,b0141bca-5cb6-4aaa-b112-76a4fe1df536,5abde3ca-9b58-4bda-96fc-73753aa18485,1240fe96-0539-4bff-b27e-ec0b39b010c3
4,eee2a7bc-5951-4569-bd69-cf53209f420e,84f63b4e-7b5e-4837-8728-7bb903a7a4a1,1240fe96-0539-4bff-b27e-ec0b39b010c3
...,...,...,...
2727,16632496-0937-4237-850b-bfddc2b3203c,45694fc3-002c-458a-ac33-6cb55a09e5f4,96e69db3-f364-4be2-81ac-996e2352d587
2728,fb4a3430-5ef2-474c-9903-8659b116af46,b8776740-087e-4d28-b6cb-45be467707df,9eecea1d-f763-4be5-bacd-d894ac0404d7
2729,1b0e7b37-951e-4482-b6cd-30f0204a945b,f3c971af-1c09-4489-8f5a-679a189b507d,7af7c574-12e0-4d0e-a030-2721d28271a7
2730,0111b3dc-fa8b-423b-9538-822d0d5514fc,eafc12be-6acb-4135-a46c-d681eb6f2d23,eec52d42-9801-4ec0-a313-36eecc102953
2731,b4d98ce7-2a63-43d2-b7e4-fba164759369,eafc12be-6acb-4135-a46c-d681eb6f2d23,ac069d68-2625-4e52-ae5c-18d987d9c694

In [20]:

total_rows = selected_columns_df.shape[0]
missing_values_percentage = (selected_columns_df.isnull().sum() / total_rows) * 100
print(missing_values_percentage)

id            0.0
cart_id       0.0
product_id    0.0
dtype: float64

In [21]:
# Save the cleaned DataFrame to a CSV file
# Ensure the 'CleanedData' directory exists
folder_path = "CleanedData"
if not os.path.exists(folder_path):
    os.makedirs(folder_path)

# Specify the full path including the file name
file_path = os.path.join(folder_path, 'cleaned_personal_cart.csv')

# Save the DataFrame
selected_columns_df.to_csv(file_path, index=False)