In [1]:
import pandas as pd, os

In [2]:
# Paths to the CSV files
path_to_data = "CleanedData/"  # Adjust the path if your working directory is different

# Loading each table into a pandas DataFrame
user_df = pd.read_csv(f"{path_to_data}cleaned_users.csv")
products_df = pd.read_csv(f"{path_to_data}cleaned_products.csv")
cart_df = pd.read_csv(f"{path_to_data}cleaned_carts.csv")
personal_cart_df = pd.read_csv(f"{path_to_data}cleaned_personal_cart.csv")
wish_list_df = pd.read_csv(f"{path_to_data}cleaned_wish_lists.csv")

In [3]:
personal_cart_df

,id,cart_id,product_id
0,91ae2abb-666c-49e9-ad6e-f35b832136bb,112901dd-e5ed-49d1-87ce-6fc1e5b3eed0,60efc7c9-7fbe-4565-9903-cb992122d1ca
1,07d2acd6-8f30-49e6-ba84-0f9a47bdccd1,371ef05c-78e4-42a6-8653-2950217a5d97,60efc7c9-7fbe-4565-9903-cb992122d1ca
2,74859c61-832a-4fb4-8af8-8cb0c0f59393,f3b8c024-7463-4691-aec5-df01db17f3e7,0f8b7023-75c7-46cc-a1ba-67c3ddb36be4
3,b0141bca-5cb6-4aaa-b112-76a4fe1df536,5abde3ca-9b58-4bda-96fc-73753aa18485,1240fe96-0539-4bff-b27e-ec0b39b010c3
4,eee2a7bc-5951-4569-bd69-cf53209f420e,84f63b4e-7b5e-4837-8728-7bb903a7a4a1,1240fe96-0539-4bff-b27e-ec0b39b010c3
...,...,...,...
2727,16632496-0937-4237-850b-bfddc2b3203c,45694fc3-002c-458a-ac33-6cb55a09e5f4,96e69db3-f364-4be2-81ac-996e2352d587
2728,fb4a3430-5ef2-474c-9903-8659b116af46,b8776740-087e-4d28-b6cb-45be467707df,9eecea1d-f763-4be5-bacd-d894ac0404d7
2729,1b0e7b37-951e-4482-b6cd-30f0204a945b,f3c971af-1c09-4489-8f5a-679a189b507d,7af7c574-12e0-4d0e-a030-2721d28271a7
2730,0111b3dc-fa8b-423b-9538-822d0d5514fc,eafc12be-6acb-4135-a46c-d681eb6f2d23,eec52d42-9801-4ec0-a313-36eecc102953
2731,b4d98ce7-2a63-43d2-b7e4-fba164759369,eafc12be-6acb-4135-a46c-d681eb6f2d23,ac069d68-2625-4e52-ae5c-18d987d9c694

## Merge Cart table with Personal cart table based on cart_id

In [5]:
# Rename the 'id' column in cart_df to 'cart_id'
cart_df = cart_df.rename(columns={'id': 'cart_id'})

cart_df

,cart_id,user_id,status
0,29fb9269-095e-4b8b-87b1-f55cd531c8a3,57758649-508f-4e6a-873e-7f0af1157eaa,IN_PROGRESS
1,3f917b0d-d4c8-43dd-8eac-2cc6364c5f3c,47f66dcc-9b56-480a-9af0-611548228b0c,IN_PROGRESS
2,477defd0-25c0-480f-9331-fd420e5b0eb8,3a431b3f-d4d1-4707-a581-92f9d11bd70d,IN_PROGRESS
3,6d179854-4606-4d8d-af95-0a287df5ebd7,fa5ddbce-1556-4efe-981b-ef78fcd4036d,IN_PROGRESS
4,d1140d4a-462d-4407-ab8a-f20f23dc86fb,b5148702-790a-45f0-96ea-f520bd847b49,IN_PROGRESS
...,...,...,...
1522,0aaf21a6-6cc3-453f-9003-0f2784f521f9,9ff2c8fb-1e62-4a9d-b7a8-8dad8090a900,IN_PROGRESS
1523,da796820-4a47-4a91-affd-3530aa8a61d9,74b7a79d-c9fd-4c7b-81c7-800dea0f9940,IN_PROGRESS
1524,174b42a8-5830-49ba-ae40-03c4d9ef2246,cd39b5c3-72ca-45b4-94ce-d2a11fa91d32,IN_PROGRESS
1525,4f34c78f-4414-4c23-97e4-a6b8958e5e20,be2d5ff8-eed3-4361-8c65-3c5351de56a8,IN_PROGRESS
1526,e49653d2-a36c-42ab-89c5-9ccd7e6cd22f,d017b402-cc05-4d42-9416-f3bdad4404d6,IN_PROGRESS

In [6]:
# Merge cart_df and personal_cart_df based on cart_id
user_product_df = pd.merge(cart_df, personal_cart_df, on='cart_id')

# Select the relevant columns (product_id and user_id)
user_product_df = user_product_df[['user_id', 'product_id']]
user_product_df

,user_id,product_id
0,57758649-508f-4e6a-873e-7f0af1157eaa,60efc7c9-7fbe-4565-9903-cb992122d1ca
1,57758649-508f-4e6a-873e-7f0af1157eaa,0f8b7023-75c7-46cc-a1ba-67c3ddb36be4
2,47f66dcc-9b56-480a-9af0-611548228b0c,0f8b7023-75c7-46cc-a1ba-67c3ddb36be4
3,3a431b3f-d4d1-4707-a581-92f9d11bd70d,0f8b7023-75c7-46cc-a1ba-67c3ddb36be4
4,3a431b3f-d4d1-4707-a581-92f9d11bd70d,1240fe96-0539-4bff-b27e-ec0b39b010c3
...,...,...
2727,74b7a79d-c9fd-4c7b-81c7-800dea0f9940,61e17d97-f770-4085-80d0-fc9a104646b6
2728,cd39b5c3-72ca-45b4-94ce-d2a11fa91d32,7af7c574-12e0-4d0e-a030-2721d28271a7
2729,cd39b5c3-72ca-45b4-94ce-d2a11fa91d32,1240fe96-0539-4bff-b27e-ec0b39b010c3
2730,be2d5ff8-eed3-4361-8c65-3c5351de56a8,10b75562-2361-4f11-9a81-de6cf494f1a1
2731,d017b402-cc05-4d42-9416-f3bdad4404d6,5027e4ff-3aeb-4a6b-ad5a-7a125b75a98d

## Wish List

In [7]:
wish_list_df

,id,user_id,product_id
0,d698ae26-d597-45bb-9cdc-80524e780dc6,14c91afc-5b49-4efc-ac3d-791c8dae9555,0f8b7023-75c7-46cc-a1ba-67c3ddb36be4
1,192ec67f-cb27-40ed-9e51-e556f6f8d33d,6f0097fd-f90e-47d9-87e6-12c7c86f6fd6,1240fe96-0539-4bff-b27e-ec0b39b010c3
2,0195380b-1f8b-4fbc-99bb-d00b6c96c130,6f0097fd-f90e-47d9-87e6-12c7c86f6fd6,9eecea1d-f763-4be5-bacd-d894ac0404d7
3,2b6d2ca9-9b1b-4b8e-b082-ce0cd871cc30,6f0097fd-f90e-47d9-87e6-12c7c86f6fd6,7af7c574-12e0-4d0e-a030-2721d28271a7
4,740de3aa-5c91-4e6c-b54a-5e395aa57a5e,6f0097fd-f90e-47d9-87e6-12c7c86f6fd6,60efc7c9-7fbe-4565-9903-cb992122d1ca
...,...,...,...
224,8b15c800-8ffa-46e4-9811-c9c0cc4200fe,43e9b41d-e7b7-4f6c-a9d2-dc3b0b2b2494,9eecea1d-f763-4be5-bacd-d894ac0404d7
225,0db2c53c-f357-41c9-90f3-3b6f3379db59,179cf772-0e9f-4ea1-8ee8-cf4db255ec8f,9eecea1d-f763-4be5-bacd-d894ac0404d7
226,844359c3-65bc-49d9-bc74-93c1cf7709b1,86051e4e-0024-4109-878f-34f78a20d01d,96e69db3-f364-4be2-81ac-996e2352d587
227,8bb1fb8f-e89a-487b-be46-3c12111ac8b4,86051e4e-0024-4109-878f-34f78a20d01d,96e69db3-f364-4be2-81ac-996e2352d587
228,90558ff9-8cad-4038-8aaf-4ecb6af24af7,a3042536-72cb-413f-97ec-80938cab5677,9b4f9a11-d013-4999-9afa-72a5fec81c83

In [8]:
# Rename the columns in wish_list_df to match user_product_df
wish_list_df = wish_list_df.rename(columns={'id': 'wish_list_id', 'user_id': 'user_id', 'products_id': 'product_id'})

# Select the relevant columns (product_id and user_id) from wish_list_df
wish_list_df = wish_list_df[['user_id', 'product_id']]
wish_list_df

,user_id,product_id
0,14c91afc-5b49-4efc-ac3d-791c8dae9555,0f8b7023-75c7-46cc-a1ba-67c3ddb36be4
1,6f0097fd-f90e-47d9-87e6-12c7c86f6fd6,1240fe96-0539-4bff-b27e-ec0b39b010c3
2,6f0097fd-f90e-47d9-87e6-12c7c86f6fd6,9eecea1d-f763-4be5-bacd-d894ac0404d7
3,6f0097fd-f90e-47d9-87e6-12c7c86f6fd6,7af7c574-12e0-4d0e-a030-2721d28271a7
4,6f0097fd-f90e-47d9-87e6-12c7c86f6fd6,60efc7c9-7fbe-4565-9903-cb992122d1ca
...,...,...
224,43e9b41d-e7b7-4f6c-a9d2-dc3b0b2b2494,9eecea1d-f763-4be5-bacd-d894ac0404d7
225,179cf772-0e9f-4ea1-8ee8-cf4db255ec8f,9eecea1d-f763-4be5-bacd-d894ac0404d7
226,86051e4e-0024-4109-878f-34f78a20d01d,96e69db3-f364-4be2-81ac-996e2352d587
227,86051e4e-0024-4109-878f-34f78a20d01d,96e69db3-f364-4be2-81ac-996e2352d587
228,a3042536-72cb-413f-97ec-80938cab5677,9b4f9a11-d013-4999-9afa-72a5fec81c83

In [9]:
# Concatenate user_product_df and wish_list_df
user_product_df = pd.concat([user_product_df, wish_list_df], ignore_index=True)
user_product_df

,user_id,product_id
0,57758649-508f-4e6a-873e-7f0af1157eaa,60efc7c9-7fbe-4565-9903-cb992122d1ca
1,57758649-508f-4e6a-873e-7f0af1157eaa,0f8b7023-75c7-46cc-a1ba-67c3ddb36be4
2,47f66dcc-9b56-480a-9af0-611548228b0c,0f8b7023-75c7-46cc-a1ba-67c3ddb36be4
3,3a431b3f-d4d1-4707-a581-92f9d11bd70d,0f8b7023-75c7-46cc-a1ba-67c3ddb36be4
4,3a431b3f-d4d1-4707-a581-92f9d11bd70d,1240fe96-0539-4bff-b27e-ec0b39b010c3
...,...,...
2956,43e9b41d-e7b7-4f6c-a9d2-dc3b0b2b2494,9eecea1d-f763-4be5-bacd-d894ac0404d7
2957,179cf772-0e9f-4ea1-8ee8-cf4db255ec8f,9eecea1d-f763-4be5-bacd-d894ac0404d7
2958,86051e4e-0024-4109-878f-34f78a20d01d,96e69db3-f364-4be2-81ac-996e2352d587
2959,86051e4e-0024-4109-878f-34f78a20d01d,96e69db3-f364-4be2-81ac-996e2352d587
2960,a3042536-72cb-413f-97ec-80938cab5677,9b4f9a11-d013-4999-9afa-72a5fec81c83

In [13]:
# # Save the cleaned DataFrame to a CSV file
# # Ensure the 'CleanedData' directory exists
# folder_path = "CleanedData"
# if not os.path.exists(folder_path):
#     os.makedirs(folder_path)

# # Specify the full path including the file name
# file_path = os.path.join(folder_path, 'user_product.csv')

# # Save the DataFrame
# user_product_df.to_csv(file_path, index=False)

Now, the user_product_df DataFrame contains user-product interactions from both the cart and personal_cart tables (joined on cart_id) and the wish_list table. You can use this DataFrame to create the user-product interaction matrix and perform collaborative filtering as described in my previous responses.

In [10]:
products_df

,product_id,vendor_id,short_description,long_description,tags,name_id,product_name,category_id,product_category
0,12c4d585-a4ae-4daf-bf69-b1189a905cb5,ca3326b5-42c7-492e-84d1-08cadb909037,A cereal is any grass cultivated for its edibl...,A cereal is any grass cultivated for its edibl...,"['Ready-to-Eat', 'Pre-cooked', 'Child-Friendly...",6e507cb1-97d5-4380-9d64-e6ca85183f85,Mama's choice,9a00a819-d1f5-49a3-85b6-b1d9a97ef9ed,Packed Foods
1,728f459b-5c03-43fd-b8f2-9aff8d8802b1,c0cd08f9-543f-4e22-9284-aa3836d7dbc0,Beetroot and its juice help your heart and lun...,Beets are rich in folate (vitamin B9) which he...,"['Beetroot', 'Red Vegetable ']",8aad0942-1eed-4aee-9c01-7f3a1dcb4a22,Beet root,af95ccc0-6ddb-4b10-82b2-4de8dabfcc46,Vegetable
2,8f19a10f-935f-4b3c-b56c-39c1a4c106bb,c0cd08f9-543f-4e22-9284-aa3836d7dbc0,"A banana is an elongated, edible fruit – botan...","A banana is a curved, yellow fruit with a thic...",[],cce8557c-744f-4ef3-9420-7849105b751e,Banana,33cd8255-6371-4baf-9888-555973935748,Fruit
3,9b4f9a11-d013-4999-9afa-72a5fec81c83,c0cd08f9-543f-4e22-9284-aa3836d7dbc0,"The zucchini, courgette or baby marrow is a su...","zucchini, (Cucurbita pepo), also called courge...",[],0a2bf88d-b1c4-43bf-b2d5-e1fa3aeb5eff,Courgette,af95ccc0-6ddb-4b10-82b2-4de8dabfcc46,Vegetable
4,399a6b62-aa3f-4c34-b825-60965931e676,33443acc-e645-4690-b68b-44b90b89988a,"A herb growing from a strongly aromatic, round...","The long, sword-shaped leaves are attached to ...","['Garlic ', 'Fresh garlic']",d293e84e-2ca5-4328-acdc-29be67e47dd2,Garlic,af95ccc0-6ddb-4b10-82b2-4de8dabfcc46,Vegetable
...,...,...,...,...,...,...,...,...,...
68,cf29fcea-26cd-4f39-bdb7-fb2caf651a87,c0cd08f9-543f-4e22-9284-aa3836d7dbc0,Pineapple is tropical fruit known for its swee...,"Pineapple, scientifically known as Ananas como...","['Tropical fruit', 'Pineapple', 'Nutrient rich ']",210afa44-0fc0-49aa-9c6f-74988b8f0275,Pineapple,33cd8255-6371-4baf-9888-555973935748,Fruit
69,6f6e4d0b-5aaf-4513-88c9-15d000409599,ca3326b5-42c7-492e-84d1-08cadb909037,Sunflower oil is the non-volatile oil pressed ...,Sunflower oil contains high amounts of the ess...,"['Sunflower oil', 'Healthy']",7ce8abfe-582f-43be-b353-295fd12ef0ef,Orkide sunflower oil,4f78f76d-ab7e-4553-9535-93b113150f20,Condiments
70,addeed11-a56f-4c86-acb6-218d2f5e96f1,ca3326b5-42c7-492e-84d1-08cadb909037,"Shiro is a simple, silky ground chickpea stew ...",Mitin Shiro flour is a spicy Ethiopian seasoni...,"['Flavorful ', 'Vegetarian', 'Shiro powder']",04966013-b402-4496-a5a3-9abd6d7b6c41,Habsha Mitin Shiro,6f1ecaa5-fac0-4111-ac77-a717940c788d,Baking Goods
71,0c5402e2-eb21-40e4-b67f-dfc9de90b4a9,ca3326b5-42c7-492e-84d1-08cadb909037,Ethiopian Berbere is a complex blend of spices...,Berbere is a spice mixture whose constituent e...,"['Hot and spicy', 'Seasoning ', 'Spices', 'Chi...",c06b27e7-9286-49fc-bace-df84395d5887,Befrekot Pepper,6f1ecaa5-fac0-4111-ac77-a717940c788d,Baking Goods
72,10b75562-2361-4f11-9a81-de6cf494f1a1,c0cd08f9-543f-4e22-9284-aa3836d7dbc0,"Papaya has many benefits, including protection...","Papaya is a melon-like fruit, which varies gre...","['Fruit ', 'Vitamin-rich', 'Papaya']",7f65b429-89e4-4613-928e-97d30972af53,Papaya,33cd8255-6371-4baf-9888-555973935748,Fruit

#1

## New users

In [11]:
# Define the bins and labels for segmentation
bins = [18, 25, 36, 150]
labels = ['18-24', '25-35', '36+']

# Assign unexpected values to the "25-35" segment
user_df['demographic_segment'] = pd.cut(user_df['age'].fillna(30), bins=bins, labels=labels, right=False)

# Assign age 14 to the "25-35" segment
user_df.loc[user_df['age'] == 14, 'demographic_segment'] = '18-24'

# Display the updated DataFrame
user_df

,user_id,gender,user_birthday,country_id,age,demographic_segment
0,79d54965-a338-4f96-8a05-5cb978f0219f,Female,2009-11-19,4391b559-957b-4d6f-854b-3817aaa6f6e0,14.0,18-24
1,c6376a5e-c705-4b7c-aa86-491473ab2969,Male,1999-11-24,4391b559-957b-4d6f-854b-3817aaa6f6e0,24.0,18-24
2,001c4c16-c2c4-49ea-8664-d173eb12f8e0,Male,NaN,4391b559-957b-4d6f-854b-3817aaa6f6e0,14.0,18-24
3,959715d2-953f-4f6e-8f6f-2e3ff0a335b6,Female,NaN,4391b559-957b-4d6f-854b-3817aaa6f6e0,14.0,18-24
4,8ef677e7-2886-4665-ae4a-05ca3d393b30,Female,1992-01-29,4391b559-957b-4d6f-854b-3817aaa6f6e0,32.0,25-35
...,...,...,...,...,...,...
8650,0b711c51-92fa-4f16-acfd-77af69d8a9fa,Female,NaN,4391b559-957b-4d6f-854b-3817aaa6f6e0,14.0,18-24
8651,36c950c9-15e0-411f-ac7d-556310c315f6,Male,NaN,4391b559-957b-4d6f-854b-3817aaa6f6e0,14.0,18-24
8652,f00470ad-2375-4ae1-81dd-4488f143b891,Female,NaN,4391b559-957b-4d6f-854b-3817aaa6f6e0,14.0,18-24
8653,aba0cd6a-7172-47d7-ad0b-4ba6e4ee673f,Male,NaN,4391b559-957b-4d6f-854b-3817aaa6f6e0,14.0,18-24
8654,4d46c068-920e-487e-8e62-b1821d851dca,Male,NaN,4391b559-957b-4d6f-854b-3817aaa6f6e0,14.0,18-24

In [12]:
user_df = user_df.rename(columns={'id': 'user_id'})
user_df

,user_id,gender,user_birthday,country_id,age,demographic_segment
0,79d54965-a338-4f96-8a05-5cb978f0219f,Female,2009-11-19,4391b559-957b-4d6f-854b-3817aaa6f6e0,14.0,18-24
1,c6376a5e-c705-4b7c-aa86-491473ab2969,Male,1999-11-24,4391b559-957b-4d6f-854b-3817aaa6f6e0,24.0,18-24
2,001c4c16-c2c4-49ea-8664-d173eb12f8e0,Male,NaN,4391b559-957b-4d6f-854b-3817aaa6f6e0,14.0,18-24
3,959715d2-953f-4f6e-8f6f-2e3ff0a335b6,Female,NaN,4391b559-957b-4d6f-854b-3817aaa6f6e0,14.0,18-24
4,8ef677e7-2886-4665-ae4a-05ca3d393b30,Female,1992-01-29,4391b559-957b-4d6f-854b-3817aaa6f6e0,32.0,25-35
...,...,...,...,...,...,...
8650,0b711c51-92fa-4f16-acfd-77af69d8a9fa,Female,NaN,4391b559-957b-4d6f-854b-3817aaa6f6e0,14.0,18-24
8651,36c950c9-15e0-411f-ac7d-556310c315f6,Male,NaN,4391b559-957b-4d6f-854b-3817aaa6f6e0,14.0,18-24
8652,f00470ad-2375-4ae1-81dd-4488f143b891,Female,NaN,4391b559-957b-4d6f-854b-3817aaa6f6e0,14.0,18-24
8653,aba0cd6a-7172-47d7-ad0b-4ba6e4ee673f,Male,NaN,4391b559-957b-4d6f-854b-3817aaa6f6e0,14.0,18-24
8654,4d46c068-920e-487e-8e62-b1821d851dca,Male,NaN,4391b559-957b-4d6f-854b-3817aaa6f6e0,14.0,18-24

In [13]:
# # Save the cleaned DataFrame to a CSV file
# # Ensure the 'CleanedData' directory exists
# folder_path = "CleanedData"
# if not os.path.exists(folder_path):
#     os.makedirs(folder_path)

# # Specify the full path including the file name
# file_path = os.path.join(folder_path, 'filtered_users.csv')

# # Save the DataFrame
# user_df.to_csv(file_path, index=False)

## Merge products_df and user_products_df on product_id to get the interactions:

In [13]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from scipy.sparse import csr_matrix

In [14]:
user_product_df

,user_id,product_id
0,57758649-508f-4e6a-873e-7f0af1157eaa,60efc7c9-7fbe-4565-9903-cb992122d1ca
1,57758649-508f-4e6a-873e-7f0af1157eaa,0f8b7023-75c7-46cc-a1ba-67c3ddb36be4
2,47f66dcc-9b56-480a-9af0-611548228b0c,0f8b7023-75c7-46cc-a1ba-67c3ddb36be4
3,3a431b3f-d4d1-4707-a581-92f9d11bd70d,0f8b7023-75c7-46cc-a1ba-67c3ddb36be4
4,3a431b3f-d4d1-4707-a581-92f9d11bd70d,1240fe96-0539-4bff-b27e-ec0b39b010c3
...,...,...
2956,43e9b41d-e7b7-4f6c-a9d2-dc3b0b2b2494,9eecea1d-f763-4be5-bacd-d894ac0404d7
2957,179cf772-0e9f-4ea1-8ee8-cf4db255ec8f,9eecea1d-f763-4be5-bacd-d894ac0404d7
2958,86051e4e-0024-4109-878f-34f78a20d01d,96e69db3-f364-4be2-81ac-996e2352d587
2959,86051e4e-0024-4109-878f-34f78a20d01d,96e69db3-f364-4be2-81ac-996e2352d587
2960,a3042536-72cb-413f-97ec-80938cab5677,9b4f9a11-d013-4999-9afa-72a5fec81c83

In [16]:
def has_interactions(user_id):
    return user_product_df['user_id'].isin([user_id]).any()

In [17]:
has_interactions("79d54965-a338-4f96-8a05-5cb978f0219f")

False

In [19]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from scipy.sparse import csr_matrix

def item_based_recommendations(user_id, num_recommendations=10):
    # Create a pivot table
    interactions_matrix = user_product_df.pivot_table(index='product_id', columns='user_id', values='product_id', aggfunc=len, fill_value=0)
    interactions_csr = csr_matrix(interactions_matrix.values)
    
    # Compute item-item similarity matrix
    item_similarity = cosine_similarity(interactions_csr)
    item_similarity_df = pd.DataFrame(item_similarity, index=interactions_matrix.index, columns=interactions_matrix.index)
    
    # Get user interactions
    interacted_items = user_product_df[user_product_df['user_id'] == user_id]['product_id'].tolist()
    interacted_items_set = set(interacted_items)
    
    recommendations = {}
    for item_id in interacted_items:
        similar_items = item_similarity_df[item_id].sort_values(ascending=False).index[1:]
        for similar_item in similar_items:
            if similar_item not in interacted_items_set:
                recommendations[similar_item] = recommendations.get(similar_item, 0) + item_similarity_df.loc[item_id, similar_item]

    # Sort by score and merge categories
    recommended_items = pd.DataFrame(list(recommendations.items()), columns=['product_id', 'score']).sort_values('score', ascending=False)
    recommended_items = recommended_items.merge(products_df[['product_id', 'product_category']], on='product_id', how='left')

    # Ensure initial category diversity
    final_recommendations = []
    seen_categories = set()
    additional_recommendations = []

    for _, row in recommended_items.iterrows():
        if row['product_category'] not in seen_categories:
            final_recommendations.append(row['product_id'])
            seen_categories.add(row['product_category'])
        else:
            additional_recommendations.append(row['product_id'])

        if len(final_recommendations) >= num_recommendations:
            break

    # Add additional recommendations if needed
    if len(final_recommendations) < num_recommendations:
        needed = num_recommendations - len(final_recommendations)
        final_recommendations.extend(additional_recommendations[:needed])

    return final_recommendations

In [22]:
user_product_df

,user_id,product_id
0,57758649-508f-4e6a-873e-7f0af1157eaa,60efc7c9-7fbe-4565-9903-cb992122d1ca
1,57758649-508f-4e6a-873e-7f0af1157eaa,0f8b7023-75c7-46cc-a1ba-67c3ddb36be4
2,47f66dcc-9b56-480a-9af0-611548228b0c,0f8b7023-75c7-46cc-a1ba-67c3ddb36be4
3,3a431b3f-d4d1-4707-a581-92f9d11bd70d,0f8b7023-75c7-46cc-a1ba-67c3ddb36be4
4,3a431b3f-d4d1-4707-a581-92f9d11bd70d,1240fe96-0539-4bff-b27e-ec0b39b010c3
...,...,...
2956,43e9b41d-e7b7-4f6c-a9d2-dc3b0b2b2494,9eecea1d-f763-4be5-bacd-d894ac0404d7
2957,179cf772-0e9f-4ea1-8ee8-cf4db255ec8f,9eecea1d-f763-4be5-bacd-d894ac0404d7
2958,86051e4e-0024-4109-878f-34f78a20d01d,96e69db3-f364-4be2-81ac-996e2352d587
2959,86051e4e-0024-4109-878f-34f78a20d01d,96e69db3-f364-4be2-81ac-996e2352d587
2960,a3042536-72cb-413f-97ec-80938cab5677,9b4f9a11-d013-4999-9afa-72a5fec81c83

In [42]:
merged_df = user_product_df.merge(user_df, on='user_id')
merged_df

,user_id,product_id,gender,user_birthday,country_id,age,demographic_segment
0,57758649-508f-4e6a-873e-7f0af1157eaa,60efc7c9-7fbe-4565-9903-cb992122d1ca,Female,NaN,4391b559-957b-4d6f-854b-3817aaa6f6e0,14.0,18-24
1,57758649-508f-4e6a-873e-7f0af1157eaa,0f8b7023-75c7-46cc-a1ba-67c3ddb36be4,Female,NaN,4391b559-957b-4d6f-854b-3817aaa6f6e0,14.0,18-24
2,47f66dcc-9b56-480a-9af0-611548228b0c,0f8b7023-75c7-46cc-a1ba-67c3ddb36be4,Male,NaN,4391b559-957b-4d6f-854b-3817aaa6f6e0,14.0,18-24
3,3a431b3f-d4d1-4707-a581-92f9d11bd70d,0f8b7023-75c7-46cc-a1ba-67c3ddb36be4,Female,NaN,4391b559-957b-4d6f-854b-3817aaa6f6e0,14.0,18-24
4,3a431b3f-d4d1-4707-a581-92f9d11bd70d,1240fe96-0539-4bff-b27e-ec0b39b010c3,Female,NaN,4391b559-957b-4d6f-854b-3817aaa6f6e0,14.0,18-24
...,...,...,...,...,...,...,...
2956,43e9b41d-e7b7-4f6c-a9d2-dc3b0b2b2494,9eecea1d-f763-4be5-bacd-d894ac0404d7,Female,2008-10-08,4391b559-957b-4d6f-854b-3817aaa6f6e0,15.0,NaN
2957,179cf772-0e9f-4ea1-8ee8-cf4db255ec8f,9eecea1d-f763-4be5-bacd-d894ac0404d7,Female,NaN,4391b559-957b-4d6f-854b-3817aaa6f6e0,14.0,18-24
2958,86051e4e-0024-4109-878f-34f78a20d01d,96e69db3-f364-4be2-81ac-996e2352d587,Male,NaN,4391b559-957b-4d6f-854b-3817aaa6f6e0,14.0,18-24
2959,86051e4e-0024-4109-878f-34f78a20d01d,96e69db3-f364-4be2-81ac-996e2352d587,Male,NaN,4391b559-957b-4d6f-854b-3817aaa6f6e0,14.0,18-24
2960,a3042536-72cb-413f-97ec-80938cab5677,9b4f9a11-d013-4999-9afa-72a5fec81c83,Female,1992-05-23,4391b559-957b-4d6f-854b-3817aaa6f6e0,31.0,25-35

In [77]:
# # Save the cleaned DataFrame to a CSV file
# # Ensure the 'CleanedData' directory exists
# folder_path = "CleanedData"
# if not os.path.exists(folder_path):
#     os.makedirs(folder_path)

# # Specify the full path including the file name
# file_path = os.path.join(folder_path, 'user_product_info.csv')

# # Save the DataFrame
# merged_df.to_csv(file_path, index=False)

In [74]:
def popular_items_recommendation(user_id, num_recommendations=10):
    # Retrieve user age information
    user_info = user_df.loc[user_df['user_id'] == user_id]
    age = user_info['age'].iloc[0]

    # Determine the age group
    if age < 25:
        age_group = '18-24'
    elif age <= 35:
        age_group = '25-35'
    else:
        age_group = '36+'

    # Filter merged_df for products popular within the user's age group
    filtered_products = merged_df[merged_df['demographic_segment'] == age_group]

    # Get most popular items within this segment
    popular_items = filtered_products['product_id'].value_counts().head(20).index.tolist()

    # Merge to get categories
    popular_items_with_cat = products_df[products_df['product_id'].isin(popular_items)]

    # Ensure category diversity
    seen_categories = set()
    diverse_popular_items = []
    additional_popular_items = []

    for _, row in popular_items_with_cat.iterrows():
        if row['product_category'] not in seen_categories:
            diverse_popular_items.append(row['product_id'])
            seen_categories.add(row['product_category'])
        else:
            additional_popular_items.append(row['product_id'])

        if len(diverse_popular_items) >= num_recommendations:
            break

    # Add additional popular items if needed
    if len(diverse_popular_items) < num_recommendations:
        needed = num_recommendations - len(diverse_popular_items)
        diverse_popular_items.extend(additional_popular_items[:needed])

    return {'recommended_products': diverse_popular_items}

In [44]:
user_id="79d54965-a338-4f96-8a05-5cb978f0219f"
user_info = user_df.loc[user_df['user_id'] == user_id]
user_info

,user_id,gender,user_birthday,country_id,age,demographic_segment
0,79d54965-a338-4f96-8a05-5cb978f0219f,Female,2009-11-19,4391b559-957b-4d6f-854b-3817aaa6f6e0,14.0,18-24

In [70]:
def recommend_products(user_id, num_recommendations=10):
    if has_interactions(user_id):
        return  item_based_recommendations(user_id, num_recommendations=10)
    else:
        return popular_items_recommendation(user_id, num_recommendations=10)

In [73]:
recommendations_for_john = recommend_products(user_id="a3042536-72cb-413f-97ec-80938cab5677", num_recommendations=10)
print("Recommendations for John:", recommendations_for_john)
recommendations_for_john

Recommendations for John: ['05de7d5c-b249-4170-80f4-91a410ae65e3', '5027e4ff-3aeb-4a6b-ad5a-7a125b75a98d', '81694f06-7a18-4d76-a606-528c35fdf52a', 'a7256840-4167-48b9-b86d-0796d42f2d24', '56c1f4b8-dd1b-4736-9aed-9f6c96741936', '3f1bf014-1159-4762-a43a-9b47dbab15d3', '39912d6e-0c5c-4629-be46-6e644ebae09b', '61e17d97-f770-4085-80d0-fc9a104646b6', '1d29d69a-ed39-4b72-b7c9-391760833221', '4a1de2ab-7af1-455f-b34c-13bea78dc90b']

['05de7d5c-b249-4170-80f4-91a410ae65e3',
 '5027e4ff-3aeb-4a6b-ad5a-7a125b75a98d',
 '81694f06-7a18-4d76-a606-528c35fdf52a',
 'a7256840-4167-48b9-b86d-0796d42f2d24',
 '56c1f4b8-dd1b-4736-9aed-9f6c96741936',
 '3f1bf014-1159-4762-a43a-9b47dbab15d3',
 '39912d6e-0c5c-4629-be46-6e644ebae09b',
 '61e17d97-f770-4085-80d0-fc9a104646b6',
 '1d29d69a-ed39-4b72-b7c9-391760833221',
 '4a1de2ab-7af1-455f-b34c-13bea78dc90b']

In [65]:
def get_product_details(product_ids, products_df):
    # Filter the products_df DataFrame to get rows where the product_id is in the list of recommended product IDs
    filtered_products = products_df[products_df['product_id'].isin(product_ids)]
    
    # Sort the products to maintain the order of the recommended product IDs
    filtered_products = filtered_products.set_index('product_id').loc[product_ids].reset_index()
    
    # Return the desired columns, e.g., product_id and short_description
    return filtered_products[['product_id', 'short_description', 'product_name']]

# Example Usage
recommended_product_ids = recommendations_for_john
product_details = get_product_details(recommended_product_ids, products_df)
product_details

,product_id,short_description,product_name
0,05de7d5c-b249-4170-80f4-91a410ae65e3,Green chillies are a common vegetable used in ...,Chilly Green
1,5027e4ff-3aeb-4a6b-ad5a-7a125b75a98d,The tomato is the edible berry of the plant So...,Tomato Restaurant Quality
2,81694f06-7a18-4d76-a606-528c35fdf52a,"Dishwashing liquid, also known as dishwashing ...",Tumha Dish Wash
3,a7256840-4167-48b9-b86d-0796d42f2d24,Pasta is a type of food typically made from an...,Booez Pasta
4,56c1f4b8-dd1b-4736-9aed-9f6c96741936,"Flour is a powder made by grinding raw grains,...",Biya Weya Flour
5,3f1bf014-1159-4762-a43a-9b47dbab15d3,Sunflower oil is the non-volatile oil pressed ...,Bahja Sunflower Oil
6,39912d6e-0c5c-4629-be46-6e644ebae09b,Facial tissues are an essential item for anyon...,Twins Facial Tissue
7,61e17d97-f770-4085-80d0-fc9a104646b6,"The carrot is a root vegetable, typically oran...",Carrot
8,1d29d69a-ed39-4b72-b7c9-391760833221,"Round in shape, with tightly packed layers of ...",White cabbage
9,4a1de2ab-7af1-455f-b34c-13bea78dc90b,"Red onions are cultivars of the onion, and hav...",Red Onion Restaurant Quality

In [75]:
recommendations_for_mike = recommend_products(user_id="79d54965-a338-4f96-8a05-5cb978f0219f", num_recommendations=10)
recommendations_for_mike

{'recommended_products': ['728f459b-5c03-43fd-b8f2-9aff8d8802b1',
  '8f19a10f-935f-4b3c-b56c-39c1a4c106bb',
  '41467257-dcf1-491b-a88e-f1c1292b7522',
  '183b6c98-294c-4e84-aebd-9127b8d85cd9',
  '9b4f9a11-d013-4999-9afa-72a5fec81c83',
  '0f8b7023-75c7-46cc-a1ba-67c3ddb36be4',
  '1d29d69a-ed39-4b72-b7c9-391760833221',
  '9eecea1d-f763-4be5-bacd-d894ac0404d7',
  '61e17d97-f770-4085-80d0-fc9a104646b6',
  '1240fe96-0539-4bff-b27e-ec0b39b010c3']}